 body {
  background: linear-gradient(45deg, pink, aqua, rgba(0,89,255,1) 100%);
  height: 100vh; 
  margin: 0; 


}

/* Default styles (applies to all screen sizes unless overridden) */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

/* Desktop - 1024px and above */
@media only screen and (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .box {
    width: 23%;
  }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    margin-bottom: 20px;
  }
}

.container {
  outline:1px solid black;
  background-color: #a7c6fa;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
      
.box1{
  background-color: #8380bf;
  height:50px; width: 50px;}

.box2{background-color: #5650cc;
height:50px;width:50px}

.box3{background-color: #3b31eb;
height: 50px; width:50px}

.box4{background-color: #3175eb;
height: 50px; width:50px}

.div1 {
  background-color:blue;
  height: 100px;
  width:100px;
  border: 2px solid black;
    border-radius: 10px;
}
button:hover {
  font-size: 1.1em;
  background-color: #03a5fc;
}

button:active {
  font-size: 1.1em;
  background-color: #ba03fc; 
}

